

body{
 margin: 0;
 background-color: darksalmon
 font-family: ui-sans-serif;
 font-weight: 300;
 font-size: x-large;
}

.container{
 width: auto%;
 margin: 0 auto;
}

header {
 background: #55d6aa;
 height: 100px;
}

header:after{
 content:'';
 display: table;
 clear: both;
}

nav{
 float: left;
 }

nav ul{
 margin: 0;
 padding: 35px;
 list-style: none;

}

nav li{
 display: inline-block;
 margin-left: 70px;
}

nav ul li a{
 color: darkslategrey;
 text-decoration: none;
 text-transform: uppercase;
 font-size: x-large;
}
 
 
* { box-sizing: border-box;
 }

 .clm { float:left; width: 50%; padding: 10px; }
.row: :afer{ content:''; display: table; clear: both; }

