


body{
 margin: 0;
 background-image: url(nature.jpg);
 background-size: cover;
 font-family: cursive;
 font-weight: 300;
 font-size:larger;
 color: ivory;
}

.nav wrapper{
 margin: 0 auto;
 width: 1500px;
}

.wrapper{
 margin: 0 auto;
 width:  1300px;
}

.box{
   background: salmon;
   padding: 20px 20px;
}

.container{
 width: 80%;
 margin: 0 75px;
}

header {
 background: #55d6aa;
 height: 100px;
}

header:after{
 content:'';
 display: table;
 clear: both;
}

nav{
 float: left;
 }

nav ul{
 margin:0;
 padding: 0;
 list-style: none;
}

nav li{
 display: inline-block;
 margin-left:15px;
 padding: 35px;
}

nav ul li a{
 color: #444;
 text-decoration: none;
 text-transform: uppercase;
 font-size: large;
}
 
nav ul li a:hover{
    color: firebrick;
}
 
* { box-sizing: border-box;
}

 .clm { float:right; padding: 5px; }
.row: :afer{ content:''; display: table; clear: both; }



